<div>  
  <div class="row">  
    <div class="col-sm-10 btn btn-primary">  
        Welcome to DashBoard  
    </div>
    <button class="col-sm-2 btn btn-primary" (click)="logout()">  
        Logout  
    </button>  
  </div>  
</div>
<div class="container">
<div class="alert alert-error" [style.visibility]="isfailDivVisible">
  <strong>Warning!</strong> {{usererror}}.
</div>
<form [formGroup] = "searchForm" (ngSubmit)="onSearch()">
    <div class="input-group input-group-lg">
    <input type="text" formControlName="searchusername" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="SearchUser by Username...">
    <button type="submit" class="btn btn-success">Search</button>
  </div>
</form>
<br>
<br>

<div class="container-fluid">      
  <div class="row">
    <div class="col-sm-6" >
      <h2>Upload File</h2>
<div class="container" [style.visibility]="isUserExists">
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="fileUpload.status==='error'">
          <div [innerHTML]="fileUpload.message"></div>
      </div>
      <div *ngIf="fileUpload.status==='progress'">
          <div class="progress" style="height: 20px;margin-bottom:20px;">
            <div class="progress-bar" role="progressbar" [style.width.%]="fileUpload.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{fileUpload.message}}%</div>
          </div>
      </div>
      <form [formGroup] = "profileForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" formControlName="name" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="file" name="profile" (change)="onSelectedFile($event)" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Upload</button>
        </div>
      </form>
      
      <div *ngIf="fileUpload.status==='success'">
          <div class="alert alert-success">
          <strong>File Uploaded Successfully</strong>
          </div>
      </div>
      <p>{{ error }}</p>
    </div>
  </div>
  </div>
    </div>
    <div class="col-sm-6" >
      <h2>Received Files</h2> 
  <div class="list-group" *ngFor="let files of data">
  <a href="https://fileexchangerbackend.herokuapp.com/media/{{files.file}}" download="{{files.file}}" class="list-group-item list-group-item-action">{{files.file}}</a>
</div>




  </div>
</div>
</div>