<div class="container" style="padding-top:40px;">

  <div class="alert alert-success" [style.visibility]="issuccessDivVisible">
  <strong>{{message}}</strong><a href="/login"> Go to login </a>
</div>
<div class="alert alert-error" [style.visibility]="isfailDivVisible">
  <strong>Warning!</strong> {{message}}.
</div>
  
    <div class="row">  
      <div class="col-md-6 mx-auto">  
        <div class="card mx-4">  
          <div class="card-body p-4">  
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit(employeeForm.value)">

              <h1 style="text-align:center">Register</h1>  
            
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username"  formControlName="username" requried>  
              </div>  
              <div class="input-group mb-3">  
                <input type="text" class="form-control" placeholder="Full Name"  formControlName="first_name">  
              </div>  
              <div class="input-group mb-3">  
                <input type="password" class="form-control" placeholder="Password"  formControlName="password" required>  
              </div>
              <div class="input-group mb-3">  
                <input type="password" class="form-control" placeholder="Confirm Password"  formControlName="confirmPassword" required>  
              </div>  

              <button type="submit" class="btn btn-block btn-success">Add User</button>  
            </form>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  
